---
import Navbar from "../components/Navbar.astro";
import Hero from "../components/Hero.astro";
import Services from "../components/Services.astro";
import Footer from "../components/Footer.astro";
import VenuePartner from "../components/VenuePartner.astro";
import Featured from "../components/Featured.astro";
import MarketPro from "../components/MarketPro.astro";
import Schedule from "../components/Schedule.astro"
import Faq from "../components/Faq.astro"
import Map from "../components/Map.astro"
import Grow from "../components/Grow.astro"
import '../styles/global.css';
---

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300..700;1,300..700&family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Jost:ital@0;1&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap" rel="stylesheet">
	<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined" />
	<title>Denver Marketing Agency | Digital Marketing & Billboards</title>
	<style>
		* {
			margin: 0;
			padding: 0;
			box-sizing: border-box;
		}

		body {
			background-color: #FFFDF1;
		}
	</style>
  </head>

  <body>

    <Navbar />
    <Hero />
    <Services />
	<VenuePartner />
	<Featured />
    <MarketPro />
	<Schedule />
	<Faq />
	<Map />
	<Grow />
    <Footer />

  </body>
</html>