---
// Import the script
---

<section class="relative flex justify-center items-center text-center text-white h-[851px] max-h-[851px] px-5 py-[100px] md:px-20 md:py-25 overflow-hidden">
  <img src="/images/Denver_-2011_(CC__BY-SA)Hogs555210120-040148.jpg" alt="Denver cityscape" class="absolute top-0 left-0 w-full h-full object-cover z-0" id="parallax-img">
  <div class="absolute top-0 left-0 w-full h-full bg-black opacity-40 z-10"></div>
  <div class="relative z-20 flex flex-col justify-center items-center max-w-[1200px] mx-auto p-[20px] mt-[90px]">
    <div class="font-bold flex flex-row justify-center items-center gap-4 font-['DM_Sans',sans-serif]">
        <span class="material-symbols-outlined">
            star
        </span>
        <p class="m-[0]">Premium Marketing Solutions</p>
    </div>
    <h1 class="font-['Playfair_Display',sans-serif] font-bold lg:text-[98px] md:text-[98px] text-[38px] my-[65px] leading-[normal]"><span>Local Advertising and Digital Marketing Pros in Denver</span></h1>
    <div class="flex flex-row justify-center items-center gap-4 font-['DM_Sans',sans-serif] my-[16px]">
        <span class="material-symbols-outlined">
            trending_up
        </span>
        <p class="m-0">Helping Business Get Noticed-On Screens and Online</p>
    </div>
    <button class="mt-5 px-6 py-3 border-none bg-white text-black cursor-pointer transition-colors duration-300 uppercase tracking-[3px] hover:bg-gray-200">Talk to our Team</button>
  </div>
</section>

<script>
  import '../scripts/main.ts';
</script>