<section class="partner">
    <div class="container">
        <div class="first-half">
            <div>
                <h2>Denver's Premier Venue Partner Network</h2>
            </div>
            <div>
                <p>Our <b>digital marketing pros</b> have built exclusive partnerships with Denver's most popular venues and businesses. Our <b>screen network</b> reaches customers when they're relaxed, engaged, and ready to take action—whether they're working out, dining, shopping, or waiting for service.</p>
            </div>
            <div>
                <ul>
                    <li>Exclusive venue partnerships</li>
                    <li>High-dwell-time locations</li>
                    <li>Targeted audience reach</li>
                    <li>Flexible campaign options</li>
                </ul>
            </div>
            <div class="cta">
                <a>View All Marketing Solutions</a>
            </div>
        </div>
        <div class="second-half">
            <img src="https://ntv-template-5.vercel.app/images/venue-partner-mobile.avif" alt="">
        </div>
    </div>
</section>

<style>
    .partner {
        background:#C4A05A ;
        padding:50px 20px;
        font-family: "DM Sans", sans-serif;
        display: flex;
        justify-content: center;
    }

    .container {
        border-radius: 5px;
        display: flex;
        width: 100%;
        max-width: 1200px;
        padding: 0px 32px;
        margin: auto;

    }

    .first-half {
        display: flex;
        padding: 20px;
        flex-direction: column;
        align-items: start;
        width: 50%;

        h2 {
            margin-top: 16px;
            margin-bottom: 16px;
            font-family: 'Playfair Display', serif;
            font-size: 50px;
            color: #FFFDF1;
        }

        p {
            line-height: 1.6;
            color: #FFFDF1;
        }

        ul {
            line-height: 2.6;
            margin-bottom: 25px;
            color: #FFFDF1;
        }
    }

    .second-half {
        display: flex;
        justify-content: center;
        width: 50%;

        img {
            width: 100%;
            object-fit: cover;
        }
    }

    .cta{
        text-align:center;
        font-family: "DM Sans", sans-serif;
    }

    .cta a{
        display:inline-block;
        border:2px solid #FFFDF1;
        padding:14px 28px;
        text-decoration:none;
        color:#FFFDF1;
        font-weight:600;
        border-radius:4px;
        transition: all 0.6s ease;
    }

    .cta a:hover{
        background:#FFFDF1;
        color:#000000;
        box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
    }

    @media (max-width: 768px) {
    .container {
        flex-direction: column;
        padding: 0px 16px;
    }

    .first-half {
        width: 100%;
    }

    .second-half {
        width: 100%;
    }

    .first-half h2 {
        font-size: 32px;
    }
}
</style>